.delivery {
  @include adaptiv-value('padding-top', 80, 40, 1);
  @include adaptiv-value('padding-bottom', 70, 30, 1);
  color: $whiteColor;
  background-color: $blackColor;

  &__container {
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    @include adaptiv-value('font-size', 30, 15, 1);
    line-height: calc(36 / 30 * 100%);
    font-weight: 700;
    margin: 0;
    @include adaptiv-value('margin-bottom', 23, 10, 1);
    padding: 0;

    & span {
      font-weight: 400;
    }
  }

  &__text {
    @include adaptiv-value('font-size', 21, 12, 1);
    line-height: calc(26 / 21 * 100%);
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
}