.discounts {

  &__container {}

  &__title {
    @include adaptiv-value('font-size', 36, 20, 1);
    line-height: calc(44 / 36 * 100%);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @include adaptiv-value('margin-bottom', 100, 50, 1);
  }
}