.intro {
  color: #000;
  background-color: $creamColor;

  &__container {
    padding: 70px 15px 0 15px;
    @include adaptiv-value('padding-bottom', 207, 70, 1);

    @media (min-width: $desktop-width) {
      padding: 256px 15px 0 15px;
      @include adaptiv-value('padding-bottom', 207, 70, 1);
    }
  }
}

.slider-intro {
  user-select: none;
  position: relative;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptiv-value('margin-bottom', 0, 30, 1);

    @media (min-width: $desktop-width) {
      align-items: flex-start;
    }
  }

  &__subtitle {
    @include adaptiv-value('font-size', 30, 15, 1);
    line-height: calc(30 / 37 * 100%);
    margin: 0 0 35px 0;
    padding: 0;
  }

  &__title {
    @include adaptiv-value('font-size', 55, 28, 1);
    line-height: calc(55 / 67 * 100%);
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0 0 55px 0;
    padding: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 16px;
    line-height: calc(16 / 19 * 100%);
    text-transform: uppercase;
    min-width: 240px;
    min-height: 55px;
    color: $whiteColor;
    background-color: $accentColor;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: $accentColor;
        background-color: $blackColor;
      }
    }
  }

  &__discounts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    picture {
      position: relative;
      top: -70px;

      @media (min-width: $desktop-width) {
        top: -134px;
      }
    }
  }

  &__discount {
    @include adaptiv-value('font-size', 24, 20, 1);
    line-height: calc(24 / 30 * 100%);
    font-weight: 700;
    text-decoration: line-through;
    max-width: 556px;
    margin: 0 7px 14px 0;
  }

  &__price {
    @include adaptiv-value('font-size', 42, 25, 1);
    line-height: calc(42 / 51 * 100%);
    font-weight: 700;
    color: #D84033;
  }

  &__image {
    overflow: hidden;
  }

  // Ограничивающая оболочка
  & .slick-list {
    overflow: hidden;
    position: relative;
  }

  // Лента слайдов
  & .slick-track {
    display: flex;
  }

  // Слайдер запущен
  .slick-slider.slick-initialized {}

  // Слайдер с точками
  .slick-slider.slick-dotted {}

  // Слайд
  .slick-slide {}

  // Слайд активный (показывается)
  .slick-slide.slick-active {}

  // Слайд основной
  .slick-slide.slick-current {}

  // Слайд по центру
  .slick-slide.slick-center {}

  // Клонированный слайд
  .slick-slide.slick-cloned {}



  // Стрелка не активная
  .slick-arrow.slick-disabled {}

  // Точки (булиты)
  & .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    bottom: -10px;

    width: 100%;

    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      bottom: -70px;
    }
  }

  & .slick-dots li {
    list-style: none;

    margin: 0 6px;

    // Активная точка
    &.slick-active button {
      background-color: rgba($color: $accentColor, $alpha: 1);
    }
  }

  // Элемент точки
  & .slick-dots li button {
    display: block;

    font-size: 0;
    line-height: 0;

    @include adaptiv-value('width', 40, 20, 1);
    height: 7px;

    padding: 0;

    background-color: rgba($color: #CECECE, $alpha: 1);
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
}