.intro {
  color: #000;
  background-color: $creamColor;

  &__container {
    padding: 70px 15px 0 15px;
    @include adaptiv-value('padding-bottom', 207, 70, 1);

    @media (min-width: $desktop-width) {
      padding: 256px 15px 0 15px;
      @include adaptiv-value('padding-bottom', 207, 70, 1);
    }
  }
}